In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [69]:
df_d = pd.read_csv('data/Binance_ETHUSDT_d.csv')
df_h = pd.read_csv('data/Binance_ETHUSDT_1h.csv')

In [70]:
def to_datetime_day(df):
    
    df.reset_index(inplace=True)
    df.columns = df.iloc[0]
    df.drop(index = df.index[0:2], axis=0, inplace=True)
    
    df['date'] = df['date'].str[0:10]
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
    df.set_index('date', inplace = True)
    
    df.drop(df.columns[[0,1,-1,-2]], axis=1, inplace=True)
    
    for x in df.columns:
        df[x] = df[x].astype(float)
    
    return df

In [71]:
to_datetime_day(df_d)

0              open     high      low    close   Volume ETH
date
2022-01-10  3151.97  3185.00  2928.83  3082.68  529818.3866
2022-01-09  3080.98  3211.72  3057.35  3151.97  275874.1643
2022-01-08  3198.68  3250.00  3000.00  3080.95  400692.1061
2022-01-07  3406.81  3416.76  3064.42  3199.24  669631.7262
2022-01-06  3539.82  3550.43  3300.00  3406.81  496745.7413
...             ...      ...      ...      ...          ...
2017-08-21   299.10   346.52   294.60   323.29    5134.5400
2017-08-20   290.91   300.53   282.85   299.10    2469.4900
2017-08-19   293.96   299.90   278.00   290.91    2140.0800
2017-08-18   302.00   311.79   283.94   293.96    9392.7900
2017-08-17   303.61   312.18   298.21   302.00    6155.3200

[1609 rows x 5 columns]

In [73]:
def to_datetime_hour(df):
    
    df.reset_index(inplace=True)
    df.columns = df.iloc[0]
    df.drop(index = df.index[0:2], axis=0, inplace=True)
    
    def datetime_func(x):
        if 'AM' in x:
            return pd.to_datetime(x[0:13]+':00:00 AM').strftime('%Y-%m-%d %H:%M:%S')
        elif 'PM' in x:
            return pd.to_datetime(x[0:13]+':00:00 PM').strftime('%Y-%m-%d %H:%M:%S')
        else:
            return pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S')
    
    df['date'] = df['date'].apply(datetime_func)
    df.set_index('date', inplace = True)
    df.drop(df.columns[[0,1,-1,-2]], axis=1, inplace=True)
    
    for x in df.columns:
        df[x] = df[x].astype(float)
    
    return df

In [74]:
to_datetime_hour(df_h)

0                       open     high      low    close  Volume ETH
date
2022-01-10 23:00:00  3062.73  3088.01  3054.06  3082.68   9189.4677
2022-01-10 22:00:00  3074.65  3084.96  3056.33  3062.73   6294.9157
2022-01-10 21:00:00  3082.68  3096.15  3068.12  3074.65  13234.7443
2022-01-10 20:00:00  3029.75  3088.00  3019.17  3082.68  15604.1474
2022-01-10 19:00:00  3042.90  3056.28  3020.21  3029.75  10499.1698
...                      ...      ...      ...      ...         ...
2017-08-17 08:00:00   307.96   309.97   307.00   308.62    150.7500
2017-08-17 07:00:00   302.68   307.96   302.60   307.96    753.1900
2017-08-17 06:00:00   303.10   304.44   301.90   302.68    302.5100
2017-08-17 05:00:00   301.61   303.28   300.00   303.10    377.6700
2017-08-17 04:00:00   652.74   652.74   298.00   300.79    122.5200

[41215 rows x 5 columns]

In [75]:
def to_datetime_minute(df):
    
    df.reset_index(inplace=True)
    df.columns = df.iloc[0]
    df.drop(index = df.index[0:2], axis=0, inplace=True)
    
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d %H:%M:%S')
    df.set_index('date', inplace = True)
    df.drop(df.columns[[0,1,-1,-2]], axis=1, inplace=True)
    
    for x in df.columns:
        df[x] = df[x].astype(float)
    
    return df

In [77]:
df = df_d.copy()

0              open     high      low    close   Volume ETH
date
2022-01-10  3151.97  3185.00  2928.83  3082.68  529818.3866
2022-01-09  3080.98  3211.72  3057.35  3151.97  275874.1643
2022-01-08  3198.68  3250.00  3000.00  3080.95  400692.1061
2022-01-07  3406.81  3416.76  3064.42  3199.24  669631.7262
2022-01-06  3539.82  3550.43  3300.00  3406.81  496745.7413
...             ...      ...      ...      ...          ...
2017-08-21   299.10   346.52   294.60   323.29    5134.5400
2017-08-20   290.91   300.53   282.85   299.10    2469.4900
2017-08-19   293.96   299.90   278.00   290.91    2140.0800
2017-08-18   302.00   311.79   283.94   293.96    9392.7900
2017-08-17   303.61   312.18   298.21   302.00    6155.3200

[1609 rows x 5 columns]